<template>
  <v-data-table :headers="headers" :items="cursos" sort-by="nome" class="elevation-1">
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Cursos</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">Adicionar</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="curso.nome"
                      label="Nome do curso"
                      required
                      :rules="requiredRule"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="curso.sigla"
                      label="Sigla"
                      required
                      :rules="requiredRule"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-select
                      :items="turnos"
                      v-model="curso.turno"
                      label="Turno"
                      required
                      :rules="requiredRule"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="save">Savar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)">mdi mdi-pencil</v-icon>
      <v-icon small @click="deleteItem(item)">mdi mdi-delete</v-icon>
    </template>
  </v-data-table>
</template>

<script>
import { RepositoryFactory } from "@/repositories/RepositoryFactory";

const cursoRepo = RepositoryFactory.get("curso");

export default {
  data: () => ({
    headers: [
      {
        text: "Nome",
        align: "left",
        value: "nome"
      },
      { text: "Sigla", value: "sigla" },
      { text: "Turno", value: "turno" },
      { text: 'Ações', value: 'actions' },
    ],
    cursos: [],
    turnos: [
      { text: "MANHÃ", value: 0 },
      { text: "TARDE", value: 1 },
      { text: "NOITE", value: 2 }
    ],
    dialog: false,
    curso: {
      nome: "",
      sigla: "",
      turno: 0
    },
    editedIndex: -1,
    requiredRule: [v => !!v || "Campo obrigatório"]
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Novo curso" : "Editar curso";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    cursoRepo.getAll().then(res => {
      res.data.forEach(element => {
        this.cursos.push(element);
      });
    });
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.cursos.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.cursos.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.cursos.splice(index, 1);
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      console.log(this.curso);
      this.close();
    }
  }
};
</script>
