<template>
  <div>
    <v-data-table :headers="headers" :items="usuarios" sort-by="nome" class="elevation-1">
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Usuarios</v-toolbar-title>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">mdi mdi-pencil</v-icon>
        <v-icon small @click="deleteItem(item)">mdi mdi-delete</v-icon>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import VCardWidget from "@/components/VWidget";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
const usuarioRepo = RepositoryFactory.get("usuario");
export default {
  data: () => ({
    dialog: false,
    headers: [
      { text: "Nome", value: "nome" },
      { text: "Email", value: "email" },
      { text: "Habilitado", value: "habilitado" },
      { text: 'Ações', value: 'actions'},
    ],
    usuarios: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0
    },
    defaultItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0
    }
  }),

  created() {
    usuarioRepo
      .getAll()
      .then(res => {
        this.usuarios = res.data || [];
        // Muitos dados da problema, creio eu
        this.usuarios.forEach(el => {
          el.habilitado = el.habilitado ? "Sim" : "Não";
        });
      })
      .catch(console.error);
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.desserts.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
