<template>
  <v-container fluid class="fill-height">
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Cadastro</v-toolbar-title>
          </v-toolbar>
          <v-form @submit.prevent="onSubmit" ref="form" lazy-validation v-model="valid">
            <v-card-text>
              <p class="error--text text-center">{{ error }}</p>

              <v-text-field
                label="Nome"
                name="nome"
                prepend-icon="person"
                type="text"
                v-model="nome"
                required
                :rules="requiredRule"
              />
              <v-text-field
                label="Email"
                name="email"
                prepend-icon="email"
                type="text"
                v-model="email"
                required
                :rules="emailRules"
              />
              <v-text-field
                id="password"
                label="Password"
                name="password"
                prepend-icon="lock"
                type="password"
                v-model="password"
                required
                :rules="requiredRule"
              />
              <v-col class="d-flex" cols="12" sm="12">
                <v-select
                  :items="cursosNome"
                  label="Curso"
                  outlined
                  return-object
                  v-model="cursoUsuario"
                ></v-select>
              </v-col>
              <v-checkbox
                v-model="habilitado"
                :label="`Usuário ativo: ${habilitado ? 'Sim' : 'Não'}`"
              ></v-checkbox>
            </v-card-text>
            <v-card-actions>
              <v-form @submit.prevent="onBack">
                <v-btn color="secondary" type="submit" :loading="loading" large>Voltar</v-btn>
              </v-form>
              <v-spacer />
              <v-btn color="primary" type="submit" :loading="loading" large>Cadastrar</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
import Rules from '@/rules/rules.js';
const cursoRepo = RepositoryFactory.get("curso");

export default {
  data: () => ({
    valid: true,
    loading: false,
    nome: "",
    email: "",
    password: "",
    error: "",
    habilitado: true,
    cursos: [],
    cursosNome: [],
    cursoUsuario: "",
    requiredRule: Rules.requiredRule,
    emailRules: Rules.emailRules,
  }),

  // Fazer em cache
  // Problema: lista de cursos expostas
  created() {
    cursoRepo.getAll().then(res => {
      res.data.forEach(element => {
        this.cursos.push(element);
        this.cursosNome.push(element.nome);
      });
    });
  },
  methods: {
    onSubmit() {
      const novoUsuario = {
        nome: this.nome,
        email: this.email,
        senha: this.password,
        curso: this.cursos.filter(curso =>
          curso.nome === this.cursoUsuario ? this.cursoUsuario : ""
        ),
        ativo: this.habilitado
      };
      console.log(novoUsuario);
    },

    onBack() {
      this.$router.push("/login");
    }
  },

  computed: {
    selectedItems: {
      get() {
        return this.value;
      },
      set(item) {
        // Could either emit (so you can use v-model on the parent)
        // or add to array
        this.chosenItems.push(item);
        this.$emit("input", item);
      }
    }
  }
};
</script>

<style lang="less" scoped></style>
